header {
    height: 65px;
    width: 100%;
    background-color: rgba(6, 19, 21, 0.9);
  }

.header-left{
    float:left; 
}

.header-right{
    float:right;
   
}

.header-right a{
    line-height:65px;
    padding-right:25px;
    padding-left:25px;
    color:white;
    display:block;
  }
  
  